<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">

	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/ag-grid/2.3.5/ag-grid.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/ag-grid/2.3.5/theme-fresh.css">

    <link rel="stylesheet" type="text/css" href="index.css">

    <title>Angular Localization Manager</title>
</head>

<body ng-controller="myApp">
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<a href="#" class="navbar-brand">
				Angular Localization Manager
			</a>
		</div>

	    <div class="collapse navbar-collapse">
			<form class="navbar-form navbar-right">
				<div class="form-group m-r-md">
					<input type="checkbox" id="missing-entries" name="missing-entries" ng-model="missing" value="true">
					<label for="missing-entries">Missing Entries</label>
				</div>
				<button type="submit" class="btn btn-default"
					ng-click="export($event)">
					Export
				</button>
			</form>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>
<section id="untested" class="container-fluid" style="display:none">
	<div class="row">
		<div class="col-xs-12">
			<h1>
				Your browser is untested. Please use Chrome 40 or newer!
			</h1>
			<h3 id="chrome"></h3>
		</div>
	</div>
</section>
<section class="container-fluid">
	<div class="locale-grid ag-fresh"
		ag-grid="gridOptions">
	</div>
</section>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="vendor/downloadjs/download.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
<script src="vendor/js-beautify/js/lib/beautify.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-cookies.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-sanitize.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/ag-grid/2.3.5/ag-grid.min.js"></script>

<script src="vendor/angular-localization/dist/angular-localization.js"></script>
<script src="app.js"></script>
</body>
</html>
